html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(11deg, #f93d66, #6d47d9);
  min-height: calc(100vh);
  background-position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: [site-left] 1fr [content-start] 6fr [content-end] 1fr [site-right];
  grid-template-rows: [content-top] repeat(10, auto) [content-botttom];
}

.container .item3 {
  grid-column: content-start;
  grid-row: content-top/content-bottom;
}

.container.grid-template {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100px calc(100vh - 210px) 100px;
  grid-template-areas: "header header header" "sidebar-1 content sidebar-2" "footer footer footer";
}

.container.grid-template .header {
  grid-area: header;
}

.container.grid-template .footer {
  grid-area: footer;
}

.container.grid-template .item1 {
  grid-area: sidebar-1;
}

.container.grid-template .item2 {
  grid-area: content;
}

.container.grid-template .item3 {
  grid-area: sidebar-2;
}

.container-grid-flow-dense {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: dense;
}

.container-grid-flow-dense .item:nth-child(6n) {
  background-color: cornflowerblue;
  grid-column: span 6;
}

.container-grid-flow-dense .item:nth-child(8n) {
  background-color: tomato;
  grid-column: span 2;
}

.container-grid-flow-dense .item:nth-child(9n) {
  grid-row: span 2;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  font-size: 35px;
  background-color: #ffc600;
}

.item p {
  margin: 0 0 5px 0;
}
